### Aim of this notebook is to explore the dataset

##### Import modules

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Import data

In [26]:
#df = pd.read_csv('data/Final_Africa_Master_File 2.csv')


## IMport csv file with semicolon delimiter, and read only first 10000 rows
df = pd.read_csv('../data/Final_Africa_Master_File 2.csv', delimiter=';', decimal=',')
print('df shape:', df.shape)
df.head(5)

df shape: (472894, 111)

,Year,ID,Countries,lat,lon,Sow_Maize,Harvest_Maize,Sow_Rice,Harvest_Rice,Sow_Wheat,...,Y_maize,Y_maize_major,Y_maize_second,Y_rice,Y_rice_major,Y_rice_second,Y_soybean,Y_wheat,Y_wheat_spring,Y_wheat_winter
0,1950,V6089,Abyei,9.75,28.25,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1950,V6090,Abyei,9.75,28.75,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1950,V5958,Algeria,35.25,-0.25,15-Feb,30-Aug,NaN,NaN,15-Oct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1950,V5957,Algeria,34.75,-0.25,15-Feb,30-Aug,NaN,NaN,15-Oct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1950,V5938,Algeria,23.75,-1.25,15-Feb,30-Aug,NaN,NaN,15-Oct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Explore data

In [27]:
## Replace all NAs with 0
df = df.fillna(0)

# Infer data types (try to detect numeric types)
df = df.infer_objects()

### Describe numeric columns

In [33]:
## Display all columns
pd.set_option('display.max_columns', None)
## Explore numeric columns of df
df.describe()

,Year,lat,lon,Depth_1,Depth_2,Depth_3,Depth_4,Depth_5,Depth_6,Depth_7,BD_1,BD_2,BD_3,BD_4,BD_5,BD_6,BD_7,Sand_1,Sand_2,Sand_3,Sand_4,Sand_5,Sand_6,Sand_7,Clay_1,Clay_2,Clay_3,Clay_4,Clay_5,Clay_6,Clay_7,OC_1,OC_2,OC_3,OC_4,OC_5,OC_6,OC_7,PAW_1,PAW_2,PAW_3,PAW_4,PAW_5,PAW_6,PAW_7,pcp_1,pcp_2,pcp_3,pcp_4,pcp_5,pcp_6,pcp_7,pcp_8,pcp_9,pcp_10,pcp_11,pcp_12,tmax_1,tmax_2,tmax_3,tmax_4,tmax_5,tmax_6,tmax_7,tmax_8,tmax_9,tmax_10,tmax_11,tmax_12,tmin_1,tmin_2,tmin_3,tmin_4,tmin_5,tmin_6,tmin_7,tmin_8,tmin_9,tmin_10,tmin_11,tmin_12,spi_12mon_1,spi_12mon_2,spi_12mon_3,spi_12mon_4,spi_12mon_5,spi_12mon_6,spi_12mon_7,spi_12mon_8,spi_12mon_9,spi_12mon_10,spi_12mon_11,spi_12mon_12,Y_maize,Y_maize_major,Y_maize_second,Y_rice,Y_rice_major,Y_rice_second,Y_soybean,Y_wheat,Y_wheat_spring,Y_wheat_winter
count,472894.00000,472894.000000,472894.000000,4.728940e+05,4.728940e+05,4.728940e+05,4.728940e+05,4.728940e+05,472894.0,472894.0,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000,472894.000000
mean,1986.00000,-0.389781,21.865159,1.000000e-01,1.000000e-01,2.000000e-01,3.000000e-01,6.000000e-01,1.0,2.0,1.393478,1.356414,1.386629,1.411547,1.426723,1.443199,1.448557,56.514974,58.175208,57.047082,54.650046,52.675826,52.790985,53.039210,26.557734,24.688793,26.243748,28.786045,31.254708,31.306422,31.050942,0.326800,0.175622,0.143776,0.090546,0.064112,0.051740,0.050570,0.122484,0.123892,0.118591,0.110069,0.097265,0.086056,0.083870,91.672295,84.276770,96.008996,85.529430,67.935613,56.769335,70.566785,85.346853,86.345508,93.561837,88.472034,90.268671,301.638317,302.477621,302.950163,302.767894,302.357845,301.539830,301.024154,301.564498,302.510319,302.609644,297.883797,297.330952,290.580870,291.237626,291.979813,292.098355,291.591594,290.669940,290.312702,290.795218,291.544663,291.804787,287.255942,286.646895,-0.010301,-0.009962,-0.009384,-0.009256,-0.009164,-0.008684,-0.007786,-0.008146,-0.008619,-0.008042,-0.007137,-0.010254,0.431116,0.383747,0.128683,0.174808,0.181691,0.012488,0.062083,0.391517,0.336553,0.118366
std,21.07133,16.161858,15.295821,6.938901e-17,6.938901e-17,1.387780e-16,2.775560e-16,5.551121e-16,0.0,0.0,0.132886,0.139621,0.123480,0.121446,0.115863,0.119169,0.120042,14.024252,14.159987,14.204519,14.013855,14.119511,14.167054,13.732181,9.034231,9.012767,9.227806,9.433119,9.895417,10.128292,9.645511,0.204758,0.127871,0.095528,0.076303,0.069898,0.066091,0.067565,0.028454,0.031178,0.026579,0.025647,0.027822,0.032061,0.032909,117.471361,102.843809,101.984973,91.767490,89.852021,88.728664,109.066580,123.586417,112.015976,104.762191,99.539929,110.796132,5.345367,5.329760,5.169368,5.210383,5.276884,5.731999,5.494540,4.703220,3.873296,3.787120,35.365678,35.390380,5.098220,4.931977,4.672778,4.862903,5.519086,6.289838,6.289669,5.573518,4.521260,3.988149,34.108076,34.115637,1.078599,1.075819,1.070249,1.069048,1.067295,1.064649,1.058846,1.060901,1.063060,1.059761,1.045773,1.075652,0.900315,0.880319,0.445306,0.761084,0.776284,0.149214,0.480082,1.996663,2.030462,0.810668
min,1950.00000,-34.750000,-17.250000,1.000000e-01,1.000000e-01,2.000000e-01,3.000000e-01,6.000000e-01,1.0,2.0,0.780000,0.760000,0.790000,0.830000,0.920000,0.810000,0.810000,12.000000,13.000000,13.000000,11.000000,12.000000,11.000000,11.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,0.010000,0.020000,0.030000,0.010000,0.010000,0.010000,0.010000,0.020000,0.020000,0.020000,0.030000,0.020000,0.010000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,274.071692,274.612998,276.109469,279.509650,280.614219,276.011533,274.121428,278.747465,283.284071,284.112123,0.000000,0.000000,262.630853,262.544192,266.366983,269.089376,267.868664,264.134439,262.537302,266.061494,269.895578,272.845759,0.000000,0.000000,-14.834211,-14.862780,-18.594524,-18.679498,-18.391938,-19.797722,-20.253385,-20.178804,-20.545911,-19.439519,-12.175019,-12.277812,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1968.00000,-12.750000,14.250000,1.000000e-01,1.000000e-01,2.000000e-01,3.000000e-01,6.000000e-01,1.0,2.0,1.290000,1.250000,1.290000,1.320000,1.340000,1.360000,1.360000,47.000000,48.000000,47.000000,45.000000,43.000000,43.000000,43.000000,21.000000,19.000000,21.000000,24.000000,26.000000,26.000000,26.000000,0.180000,0.080000,0.080000,0.050000,0.030000,0.020000,0.020000,0.110000,0.100000,0.100000,0.090000,0.080000,0.060000,0.060000,0.749588,1.184464,7.628918,12.233257,3.590584,0.803947,0.549793,1.196384,3.632069,11.923611,6.890595,1.170635,299.342402,299.678396,299.812675,299.551382,299.074302,298.140789,297.953982,299.370909,300.662024,300.639074,299.847496,299.229866,289.053447,289.563216,289.748750,288.926479,287.701100,286.471491,286.113480,287.267389,288.921776,289.663266,289.122012,288.830589,-0.595918,-0.596205,-0.600934,-0.598902,-0.594645,-0.595983,-0.598927,-0.600396,-0.605972,-0.603104,-0.594039,-0.589345,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1986.00000,1.750000,23.750000,1.000000e-01,1.000000e-01,2.000000e-01,3.000000e-01,6.000000e-01,1.0,2.0,1.400000,1.370000,1.400000,1.420000,1.430000,1.440000,1.450000,56.000000,58.000000,56.000000,53.500000,51.000000,51.000000,51.000000,27.000000,25.000000,27.000000,30.000000,33.000000,33.000000,32.000000,0.310000,0.140000,0.120000,0.070000,0.050000,0.030000,0.030000,0.120000,0.120000,0.120000,0.110000,0.100000,0.090000,0.090000,36.224484,41.384935,65.419316,57.254553,29.280663,11.224866,10.291100,16.809463,29.609203,51.882148,53.337097,41.157961,302.377513,302.784863,302.689755,302.244819,302.074716,301.597086,301.117460,301.500734,302.412384,302.595850,302.196738,302.104055,291.729523,292.277936,292.889427,292.948697,292.718081,292.268704,292.257008,292.530929,292.652651,292.783482,292.241280,291.665508,0.031998,0.027432,0.026320,0.033024,0.030410,0.026217,0.023989,0.025183,0.026133,0.022613,0.000000,0.025475,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2004.00000,9.750000,32.750000,1.000000e-01,1.000000e-01,2.000000e-01,3.000000e-01,6.000000e-01,1.0,2.0,1.500000,1.470000,1.480000,1.500000,1.510000,1.530000,1.530000,66.000000,68.000000,67.000000,63.000000,61.000000,61.000000,61.000000,32.000000,30.000000,32.000000,35.000000,37.000000,38.000000,37.000000,0.460000,0.240000,0.180000,0.110000,0.070000,0.060000,0.060000,0.140000,0.140000,0.140000,0.130000,0.120000,0.110000,0.110000,159.018755,144.106567,162.015915,138.872504,110.004127,90.375185,121.380627,153.334975,153.633356,155.605495,147.148848,159.024894,305.399146,306.393090,306.495625,305.686163,305.294658,304.818618,304.043510,303.833220,304.557513,304.968588,304.919248,304.904351,293.990839,294.578771,295.335644,295.821455,295.849860,295.421400,294.894405,294.742127,294.741409,294.654719,294.190693,293.848748,0.647076,0.645415,0.652388,0.652798,0.652048,0.652845,0.651073,0.652849,0.655672,0.650494,0.630824,0.643535,0.608693,0.349789,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2022.00000,37.250000,57.750000,1.000000e-01,1.000000e-01,2.000000e-01,3.000000e-01,6.000000e-01,1.0,2.0,1.760000,1.720000,1.710000,1.730000,1.760000,1.810000,1.810000,97.000000,97.000000,97.000000,96.000000,97.000000,98.000000,96.000000,60.000000,60.000000,61.000000,61.000000,62.000000,62.000000,61.000000,1.520000,1.630000,1.520000,1.490000,1.520000,1.490000,1.550000,0.340000,0.350000,0.330000,0.290000,0.240000,0.310000,0.300000,2878.879803,1638.737438,2591.996410,2106.691833,2096.317287,1864.405148,2404.998541,2647.420643,2109.203579,1930.661690,1891.200073,2732.566391,313.169163,314.163940,316.406570,316.535534,317.070935,319.311765,320.201306,318.902572,317.127529,314.044629,313.115789,312.245498,301.042677,302.494404,303.088114,302.924452,304.048893,304.491567,305.448737,305.634850,304.831750,303.978022,301.107313,300.654403,4.670594,4.550807,4.455978,4.737657,5.120531,5.176842,5.030835,4.886923,5.189893,5.538786,5.334731,5.432645,14.542289,14.542289,7.566601,19.452080,19.452080,5.187599,13.383948,19.298248,19.298248,15.636001

### Categorical fields

In [31]:
## Create new df with columns that of df that are not numeric
df_cat = df.select_dtypes(exclude=['int64', 'float64'])
print('df_cat shape:', df_cat.shape)
df_cat.head(5)

df_cat shape: (472894, 8)

,ID,Countries,Sow_Maize,Harvest_Maize,Sow_Rice,Harvest_Rice,Sow_Wheat,Harvest_Wheat
0,V6089,Abyei,0,0,0,0,0,0
1,V6090,Abyei,0,0,0,0,0,0
2,V5958,Algeria,15-Feb,30-Aug,0,0,15-Oct,15-Jul
3,V5957,Algeria,15-Feb,30-Aug,0,0,15-Oct,15-Jul
4,V5938,Algeria,15-Feb,30-Aug,0,0,15-Oct,15-Jul

### Analyze maize Harvest

In [40]:
## sum values in each of columns Y_maize and Y_maize_major, Y_maize_minor
print('Sum Y_maize:', round(df['Y_maize'].sum()))
print('Sum Y_maize_major', round(df['Y_maize_major'].sum()))
print('Sum Y_maize_second',round(df['Y_maize_second'].sum()))
## Sum values in column

Sum Y_maize: 203872
Sum Y_maize_major 181472
Sum Y_maize_second 60854