### Aim of this notebook is to explore the dataset

##### Import modules

In [1]:
import pandas as pd

#### Import data

In [2]:
#df = pd.read_csv('data/Final_Africa_Master_File 2.csv')


## IMport csv file with semicolon delimiter, and read only first 10000 rows
df = pd.read_csv('../data/Final_Africa_Master_File 2.csv', delimiter=';')
print('df shape:', df.shape)
df.head(5)

C:\Users\jantimko\AppData\Local\Temp\ipykernel_11672\4095754440.py:5: DtypeWarning: Columns (63,64,75,76,87,88,99,100,101,102,103,104,105,106,107,108,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/Final_Africa_Master_File 2.csv', delimiter=';')

df shape: (472894, 111)

,Year,ID,Countries,lat,lon,Sow_Maize,Harvest_Maize,Sow_Rice,Harvest_Rice,Sow_Wheat,...,Y_maize,Y_maize_major,Y_maize_second,Y_rice,Y_rice_major,Y_rice_second,Y_soybean,Y_wheat,Y_wheat_spring,Y_wheat_winter
0,1950,V6089,Abyei,"9,75","28,25",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1950,V6090,Abyei,"9,75","28,75",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1950,V5958,Algeria,"35,25","-0,25",15-Feb,30-Aug,NaN,NaN,15-Oct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1950,V5957,Algeria,"34,75","-0,25",15-Feb,30-Aug,NaN,NaN,15-Oct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1950,V5938,Algeria,"23,75","-1,25",15-Feb,30-Aug,NaN,NaN,15-Oct,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
## Save as a coma separated file

df.to_csv('../data/Final_Africa_Master_File.csv', index=False)